/* Avec un point pour créer les classe (.blabla {}) et pour les balises juste mettre le nom de la balise */
.nav_barre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#76c78a;
    padding: 20px;
}

.nav_barre a {
    background-color: #e7c29a;
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
    margin: 5px;
    color: brown;
    font-weight: 700;
}

#page-actuel {
    background-color:#ac8005;
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
    margin-right: 10px;
    color: #f5f5dc;
}

.nav_barre button {
    background-color: #3b30d8;
    color: #31afd2;
    border: none;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
    margin: 5px;
}


.align-right {
    text-align: right; 
    position: absolute; 
    right: 5%; 
    top: 0; 
    padding: 4px;
    
}

button {
    background-color: rgb(56, 42, 165);
    border-color: rgb(56, 42, 165);
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
    margin-right: 10px;
    color: #9aa1e7;
    font-size: large;
}

body {
    margin: 0;
    background-color: rgba(50, 170, 90, 0.2);
}
#installation_bouton {
    position:fixed;
    left: 0%;
    top: 4.5%;
    margin: 0.5%;
    margin-left: 0%;
    margin-top: -2.5%;
    min-width: 100px;
    background-color: rgb(255, 120, 42);
    color: rgb(255, 218, 72);
    text-decoration: none;
    font-size: x-large;
    padding: 0.5%;
    
    border-radius: 10%;
    letter-spacing: 5%;
    transition: all 0.3s ease;
    transform-origin: top left;
    z-index: 1000;


    
}

#installation_bouton:hover {
    transform: scale(150%);
    
}
#installation_bouton.scroll_installer {
    padding: 0.5%;
    font-size: large;
    transform-origin: top left;

}

#installation_bouton.scroll_installer:hover {
    transform: scale(170%);
}





.scrolling-image {
    width: 100vw; 
    height: 30vh;
    background-image: url('images/fondStatic.png');
    background-size: 100% auto;
    background-repeat: repeat-y; 
    background-position: 0;
    animation: scroll 15000s linear infinite; 
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 200000%;
    }
}

#logo-banniere {
    border-radius: 35%;
    height: 70%;
    padding-top: 0.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes logo-banniere-escape {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    0.01% {
        transform: translateY(-20px);
        transform: rotateX(360);
        opacity: 0;
    }
    0.02% {
        transform: translateY(-2000px);
    }
    100% {
        
    }
}

@media (max-width:670px) {
    #logo-banniere {
        animation: logo-banniere-escape 5000s ease-in-out 1;
    }
}



#transition {
    position: relative;
    padding-top: 1%;
    top: -30px;
    background-color: rgba(50, 170, 90, 0.65);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}

#accroche {
    text-align: center;
    margin: 0;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 342%;
    font-family:cursive;
    color: #f5f5dc  ;
    border-radius: 20px;
    padding-bottom: 5px;
    background-color: #329630;
}

main {
    position: relative;
    top: -30px;
    background-color: rgba(223, 140, 85, 0.25);
    backdrop-filter: blur(5px);
    margin: 100px 10%;
    padding: 10px;
    border: solid rgb(202, 131, 89);
    border-radius: 10px;
}

#trailer {
    border-radius: 10px;

}

.text-Title {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

#video-trailer {
    width: 100%;
    border-radius: 10px;
    border:solid rgba(153, 76, 0, 0.9);

}
.trailer-section {
    margin: 20px 7% 150px;
}

.trailer-paragraph {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin: 30px 10%;
}

footer {
    background-color: rgba(170, 223, 188, 0.4);
    margin-top: 0;
    
}


.logo-footer {
    border-radius: 10px;
    width: 9%;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    

}

.pegi-footer {
    width: 7%;
    margin-left: 40%;
    margin-top: 0;
    margin-bottom: 0.5%;
}





/* A propos
 pour la timeline */

.section_equipe {
    text-align: center;
    margin: 3% auto;
    color: #5b3e1b;
}

.photo_equipe {
    width: 60%;
    border-radius: 10px;
}
.carre_R{
    position: absolute;
	width:8%;
	height:10%;
    margin: 0 auto;
    padding: 0;
    top: 10%;
    left: 26.5%;
}
.carre_T{
    position: absolute;
	width:8%;
	height:10%;
    margin: 0;
    padding: 0;
    top: 11%;
    left: 36%;
}
.carre_QR{
    position: absolute;
	width:8%;
	height:10%;
    margin: 0;
    padding: 0;
    top: 13%;
    left: 45.5%;
}
.carre_QS{
    position: absolute;
	width:8%;
	height:10%;
    margin: 0;
    padding: 0;
    top: 12%;
    left: 56%;
}
.carre_A{
    position: absolute;
	width:8%;
	height:10%;
    margin: 0;
    padding: 0;
    top: 15.5%;
    left: 67.5%;
}

.section_perso {
    margin-top: 2%;
    display: flex;
    margin-bottom: 8%;
}

.photo_perso {
    width: 25%;
    border: #8a4f10 solid;
    border-radius: 3%;
    text-align: center;
    background: rgb(201, 161, 109);
    transition: 0.5s;
    position: relative;
    margin-right: 1%;
    padding-bottom: 5%;
    margin-bottom: 0;
}

.photo_perso:hover {
    transform: scale(1.3);
	z-index: 10000;
}

.photo_perso img{
    width: 95%;
    margin: 2%;
    margin-bottom: 0;
    border: #8a4f10 solid;
    border-radius: 3%;

}

.photo_perso h5 {
    margin: 0;
    color: #5b3e1b;
    font-size: 160%;
}

.photo_perso li {
    text-align: left;
    font-size: 140%;
}



.tronc {
    position: relative;
    left: -4.5%;
    width: 110%;
    margin: 0;
    padding: 0;
}



/* Timeline */
.timeline {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #8a4f10;
    top: -2%;
    bottom: -2%;
    left: 50%;
    margin-left: -2px;
}
.timeline-item {
    position: relative;
    width: 50%;
    padding: 10px 40px;
    box-sizing: border-box;
    transition: 1s;
}
.timeline-item:nth-child(odd):hover{
    transform: scale(1.3);
    left: -7.5%;
    }
.timeline-item:nth-child(even):hover{
    /*-ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); */
    transform: scale(1.3);
    left: 57.5%;
    }
.timeline-item:nth-child(odd) {
    left: 0;
    text-align: center;
}
.timeline-item:nth-child(even) {
    left: 50%;
    text-align: center;
}
.timeline-item:nth-child(odd) .timeline-content{
    background: linear-gradient(0.25turn, #68d44a, #67a935, #488817);
}
.timeline-item:nth-child(even) .timeline-content{
    background: linear-gradient(0.25turn, #488817, #67a935, #6edf4e);
}

.timeline-item:nth-child(odd)::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #8a4f10;
    border-radius: 50%;
    top: 40%;
    left: 100%;
    margin-left: -10px;
}
.timeline-item:nth-child(even)::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #8a4f10;
    border-radius: 50%;
    top: 40%;
    left: 0%;
    margin-left: -10px;
}
.timeline-content {
    padding: 5%;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.texte-timeline {
    text-align: center;
    white-space: pre-line;
}

.timeline-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.timeline-images img {
    width: 30%;
    margin: 3px;
    transition: 300ms;
    border-radius: 5%;
}
.timeline-images img:hover {
    transform: scale(1.7);
}


/* Pour la partie histoire / parchemin */ 


.parchemin {
    font-family: 'MedievalSharp', cursive;
    font-weight: 1000;
    text-align: left;
    color: #5b3e1b;
    position: relative;
    
}
.center_parchemin::before, .center_parchemin::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #8b5a2b;
    border-radius:  100%;
}
.center_parchemin::before {
    top: -10px;
}
.center_parchemin::after {
    bottom: -10px;
}
.center_parchemin {
    display: flex;
    align-items: center;  
    justify-content: center;
    background-color: #f4e9d8;
    width: 80%;
    max-width: 90%;
    padding: 40px;
    border: 10px solid #8b5a2b;
    border-radius: 20px;
    left: -3%;
}

/*page d'installation*/
.installation_image {
    width: 40%;
    display: flex;
   margin-right: 0;
   margin-top: 5%;
   transition: 0.3s;
   margin-bottom: 10%;
   background: url(images/installation_image.png);
   background-size: 100%;
   
   
}

.installation_image:hover {
    transform: scale(1.3);
    background: url(images/installation_gif.gif);
   background-size: 100%;
}

.section_rapport {
    background-color: #b17d4593;
    border-radius: 2ch;
    margin: 2%;
    border: #b5772a solid;
}

.section_rapport h1 {
    text-align: center; 
    font-size:xx-large;
    color: #0c4b0e;
}

.download_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.download_box a {
    display: inline-block; 
    width: 30%;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    background-color: #3498db;
    margin-bottom: 2%;
    padding: 1%;
    color: white;
    border-radius: 5px;
    transition: transform 0.5s ;
}

.download_box a:hover {
    transform: translateY(-10%);
    background-color: #256a97;
}

/*page de contact*/

.text_zone {
    width: 80%;
    height: 20ch;
    text-align: left;
    margin: auto;
    position: relative;
    display: flex;
    font-size: 16px;
}

.bouton_envoie {
    margin: auto;
    position: relative;
    display: flex;
}

.mail {
    width: 20%;
    position: relative;
    left: 27%;
}
.discord {
    width: 18%;
    position: absolute;
    left: 50%;
}




/* Debut du JS*/
/* SlideShow */
.slideshow-container {
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
}

/* Title and description */
.info-container {
    text-align: center;
    margin-top: 10px;
    animation: fade 1.5s ease-in-out;
}

.title-container h2 {
    margin: 0;
    color: #333;
    font-size: 35px;
    text-align: center;
}

.title-container {
    margin-bottom: 20px;
}
/* Description after the image */
.description-container {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    animation: fade 1.5s ease-in-out;
}

.description-container p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}


/* Hide images */
.slides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    animation: fade-in 1.5s;
}

.description {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    animation: fade-in 1.5s;
}


@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
