/* Avec un point pour créer les classe (.blabla {}) et pour les balises juste mettre le nom de la balise */
nav {
    background-color:#76c78a;
    padding: 10px;
    /*position: fixed;*/
    width: auto;
}

nav table {
    margin: auto; /* centrer les liens*/
}

nav th a{
    background-color: #e7c29a;
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
    margin-right: 10px;
    color: brown;
}

.align-right {
    text-align: right; 
    position: absolute; 
    right: 5%; 
    top: 0; 
    padding: 4px;
    
}

button {
    background-color: rgb(56, 42, 165);
    border-color: rgb(56, 42, 165);
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
    margin-right: 10px;
    color: #9aa1e7;
    font-size: large;
}

body {
    margin: 0;
    background-color: rgba(50, 170, 90, 0.2);
}

.page-actuel {
    background-color:#ac8005;
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
    margin-right: 10px;
    color: #f5f5dc;
}


/* #background-video {
    min-width: 100%; 
  object-fit: cover;
} */

.scrolling-image {
    width: 100vw; /* Occupe toute la largeur de l'écran */
    height: 30vh;
    background-image: url('images/fondStatic.png'); /* Remplacez par le chemin de votre image */
    background-size: 100% auto; /* Assure que l'image conserve sa taille d'origine */
    background-repeat: repeat-y; /* Évite de répéter l'image */
    background-position: 0; /* Centre l'image */
    animation: scroll 15000s linear infinite; /* Défilement infini */
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 200000%;
    }
}

#logo-banniere {
    left: 45%;
    position: absolute;
    height: 20%;
    top: 100px;
    border-radius: 35%;
    margin: 0;
    
}

#transition {
    position: relative;
    padding-top: 1%;
    top: -30px;
    background-color: rgba(50, 170, 90, 0.65);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}

#accroche {
    text-align: center;
    margin: 0;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 342%;
    font-family:cursive;
    color: #f5f5dc  ;
    border-radius: 20px;
    padding-bottom: 5px;
    background-color: #329630;
}

main {
    position: relative;
    top: -30px;
    background-color: rgba(223, 140, 85, 0.25);
    backdrop-filter: blur(5px);
    margin: 100px 10%;
    padding: 10px;
    border: solid rgb(202, 131, 89);
    border-radius: 10px;
}

#trailer {
    border-radius: 10px;

}

.text-Title {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

#video-trailer {
    width: 100%;
    border-radius: 10px;
    border:solid rgba(153, 76, 0, 0.9);

}
.trailer-section {
    margin: 20px 7% 150px;
}

.trailer-paragraph {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin: 30px 10%;
}

footer {
    background-color: rgba(170, 223, 188, 0.4);
    margin-top: 0;
    
}


.logo-footer {
    border-radius: 10px;
    width: 9%;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    

}

.pegi-footer {
    width: 7%;
    margin-left: 40%;
    margin-top: 0;
    margin-bottom: 0.5%;
}

/* pour la timeline */
.timeline {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #007bff;
    top: -10%;
    bottom: -10%;
    left: 50%;
    margin-left: -2px;
}
.timeline-item {
    position: relative;
    width: 50%;
    padding: 10px 40px;
    box-sizing: border-box;
    transition: 0.7s;
}
.timeline-item:nth-child(odd):hover{
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    left: -7.5%;
    }
.timeline-item:nth-child(even):hover{
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);
    left: 57.5%;
    }
.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}
.timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
}
.timeline-item:nth-child(odd)::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    top: 40%;
    left: 100%;
    margin-left: -10px;
}
.timeline-item:nth-child(even)::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    top: 40%;
    left: 0%;
    margin-left: -10px;
}
.timeline-content {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Pour la partie histoire / parchemin */ 


.parchemin {
    font-family: 'MedievalSharp', cursserifive;
    font-weight: 1000;
    text-align: left;
    color: #5b3e1b;
    position: relative;
    
}
.center_parchemin::before, .center_parchemin::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #8b5a2b;
    border-radius: 50% / 100%;
}
.center_parchemin::before {
    top: -10px;
}
.center_parchemin::after {
    bottom: -10px;
}
.center_parchemin {
    display: flex;
    align-items: center;  
    justify-content: center;
    background-color: #f4e9d8;
    width: 80%;
    max-width: 90%;
    padding: 40px;
    border: 10px solid #8b5a2b;
    border-radius: 20px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2);
    left: -3%;
}








/* Debut du JS*/
/* SlideShow */
.slideshow-container {
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
}

/* Title and description */
.info-container {
    text-align: center;
    margin-top: 10px;
    animation: fade 1.5s ease-in-out;
}

.title-container h2 {
    margin: 0;
    color: #333;
    font-size: 35px;
    text-align: center;
}

.title-container {
    margin-bottom: 20px;
}
/* Description after the image */
.description-container {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    animation: fade 1.5s ease-in-out;
}

.description-container p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}


/* Hide images */
.slides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* Title and description */
.title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    animation: fade-in 1.5s;
}

.description {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    animation: fade-in 1.5s;
}

/* Fade-in effect */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
